<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin: 50px;" class="ui container">

            <div style="margin: 50px;" class="ui container">
                <h1 style="margin-top: 100px;" class="ui center aligned header">Todo App</h1>
                <div> 
                    <a class="ui teal button" href="/">Home</a>
                    <a class="ui violet button" href="/Analytics">Analytics</a>
                </div>
            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th><a href="{{ url_for('sort_tasks', column='id') }}">ID</a></th>
                        <th><a href="{{ url_for('sort_tasks', column='title') }}">Title</a></th>
                        <th><a href="{{ url_for('sort_tasks', column='due_date') }}">Due Date</a></th>
                        <th><a href="{{ url_for('sort_tasks', column='complete') }}">Complete</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.due_date.strftime('%Y-%m-%d') if task.due_date else 'N/A' }}</td>
                            <td>{{ 'Yes' if task.complete else 'No' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    </body>
</html>