<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div style="margin: 50px;" class="ui container">

        <h1 style="margin-top: 100px;" class="ui center aligned header">Todo App</h1>
        <div> 
            <a class="ui teal button" href="/">Home</a>
            <a class="ui violet button" href="/Analytics">Analytics</a>
        </div>

        
        <form class="ui form" action="/add" method="post">
            <div class="field">
                <br>
                <input type="text" name="title" placeholder="Title">
                <br>
                <div class="ui grid">
                    <div class="three wide column">
                        <button class="ui blue button" type="submit">Add</button>
                    </div>
                    <div class="three wide column">
                        <input type="date" id="due" name="due_date" min="2023-01-01" max="2030-12-31" />
                    </div>
                </div>
            </div>
        </form>

        {% for todo in todo_list %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="twelve wide left floated column">
                        <p class="ui big header">{{todo.title}}</p>
                    </div>
                    
                    <div class="three wide right floated column">
                        <p class="ui big header">Due: {{todo.due_date.strftime('%Y-%m-%d')}}</p>
                    </div>
                </div>

                {% if todo.complete == False %}
                    <span class="ui grey label">Not completed</span>
                {% else %}
                    <span class="ui green label">Completed</span>
                {% endif %}

                <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>

                <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>

            </div>

        {% endfor %}

    </div>
</body>
</html>